#news{
    .section{
        border-top:1px solid $grayB7;
    }
    h2{
        padding: 40px 0;
        &::before{
            content:"";
            display: block;
            position: absolute;
            left: 0;
            top: -1px;
            width: 100%;
            height: 5px;
            background: $yellow;
        }
    }
    .swiper-slide{
        height: auto;
    }
    .swiper-buttons{
        top: 34px;
        right: 0;
        .swiper-button{
            width: 60px;
            height: 60px;
        }
    }
    .swiper-pagination{
        .swiper-pagination-bullet{
            margin: 0 4px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            position: relative;
            opacity: 1;
            background: transparent;
            transition: all .3s;
            border:1px solid transparent;
            &::after{
                content:"";
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $grayB7;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            &.swiper-pagination-bullet-active{
                border:1px solid black;
                &::after{
                    background: black;
                }
            }
        }
    }
    @media(min-width:1200px){
        .main-box{
            width: 36.5%;
        }
        .sub-box{
            width: 63.5%;
        }
    }
    @media(max-width:767px){
        h2{
            padding: 20px 0;
        }
        .swiper-buttons .swiper-button{
            width: 50px;
            height: 50px;
        }
        .swiper-pagination .swiper-pagination-bullet{
            width: 20px;
            height: 20px;
            &::after{
                width: 6px;
                height: 6px;
            }
        }
    }



}