#service{
    h3{
        letter-spacing: 6px;
        writing-mode: vertical-lr;
        &::after{
            content:"";
            display: block;
            width: 1px;
            background: #D1D1D1;
            flex-grow: 1;
        }
    }
    .section{
        margin-top: -74px; 
    }
    .row{
        margin-left: -20px;
        margin-right: -20px;
       >*{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .icon-arrow-right{
        top: 55px;
        right: 0;
        font-size: 34px;
        transform: translateX(50%);
    }
    @media(max-width:1399px){
        .row{
            margin-left: -8px;
            margin-right: -8px;
        >*{
                padding-left: 8px;
                padding-right: 8px;
            }
        }
    }
    @media(max-width:1199px){
        h3{
            writing-mode:initial;
            &::after{
                height: 1px;
                width: 170px;
                flex-grow: 0;
            }
        }
        .icon-arrow-right{
            display: none;
        }
    }
    @media(max-width:991px){
        .section{
            margin-top: -40px; 
        } 
        .box{
            height: auto !important;
        }  
    }
}